# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PetTheEggo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity projects\PetTheEggo\.idea\.idea.PetTheEggo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
